@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.view-btn {
  width: 15vw;
  height: auto;
  color: var(--clr-navy-blue);
  border: solid var(--clr-black) 2px;
  border-radius: 0.4em;
  margin: auto;
  cursor: pointer;
  font-size: 3vw;
  margin-bottom: 2vh;
  background-color: var(--clr-grey-background);
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  box-shadow: 0 0 15px var(--clr-navy-blue);
}

.view-btn:hover {
  background-color: var(--clr-grey-hover);
}

.view-btn:active {
  transform: scale(0.8);
}
