.settingsView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#settingsH1 {
    text-align: center;
    font-size: 4vw;
    margin: 0 0 1vw 0;
}

#settingsContainer {
    border: solid black 3px;
    width: 50%;
    margin: 1vw 0 0 0;
    padding: 2vw 1vw;
}