.settingsView {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    min-height: 33vw;
}

#settingsH1 {
    text-align: center;
    font-size: 2.5vw;
    margin: 0 0 1vw 0;
}

#settingsContainer {
    align-items: center;
    width: 50%;
    height: auto;
    padding: 2.5em 0 0 0;
}