
  .container {
    position: relative;
    max-width: 50%;
    margin: auto;
    overflow: auto;
    min-height: 30%;
    border: .1em solid #222831;
    padding: 1em 3em;
    border-radius: .5em;
  }
  .form-control {
    margin: .4em 0;
  }
  
  
  .form-control input {
    width: 100%;
    height: 2em;
    margin: .2em;
    padding: .3em .7em;
    font-size: 1em;
    border-radius: .7em;
  }
  .header-text {
    text-align: left;
    display: flex;
    margin: .2em 0px;
    color: rgb(50, 51, 51);
  }

  .btn{
    width: 10vw;  
    height: auto;
    color: var(--clr-navy-blue);
    border: solid var(--clr-black) 2px;
    border-radius: 0.4em;
    cursor: pointer;
    font-size: 2vw;
    background-color: var(--clr-grey-background);
    font-family: "Varela Round", sans-serif;
    font-weight: 800;
    box-shadow: 0 0 15px var(--clr-navy-blue);
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  .btn-block {
    display:block;
    width: 30%;
  }

  .bmi-text {
    text-align: left;
    display: flex;
    margin: 1em 0px;
    font-size: 1em;
    color: rgb(50, 51, 51);
  }