
  .container {
    position: relative;
    max-width: 50%;
    margin: auto;
    overflow: auto;
    min-height: 30%;
    border: .1em solid #222831;
    padding: 1em 3em;
    border-radius: .5em;
  }
  .form-control {
    margin: .4em 0;
  }
  
  
  .form-control input {
    width: 100%;
    height: 2em;
    margin: .2em;
    padding: .3em .7em;
    font-size: 1em;
    border-radius: .7em;
  }
  .signin-text {
    text-align: left;
    display: flex;
    margin: 1em 0px;
    color: rgb(50, 51, 51);
  }
  .btn {
    display: inline-block;
    background: #222831;
    color: rgb(255, 255, 255);
    border: .05em solid rgb(0, 0, 0);
    padding: .4em .2em;
    margin: .3em;
    border-radius: .7em;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    font-family: inherit;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  .btn-block {
    display:block;
    width: 30%;
  }

  .bmi-text {
    text-align: left;
    display: flex;
    margin: 1em 0px;
    font-size: 1em;
    color: rgb(50, 51, 51);
  }