.dropdownMenu {
  display: inline-block;
  height: 5vh;
  width: auto;
  color: var(--clr-navy-blue);
  border: solid var(--clr-black) 2px;
  border-radius: 0.2em;
  cursor: pointer;
  font-size: 1.4vw;
  background-color: var(--clr-grey-background);
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  box-shadow: 0 0 10px var(--clr-navy-blue);
}

.dropdownMenu p {
  margin: auto;
}

.dropdownMenu:hover .dropdown-content {
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--clr-grey-background);
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
  padding: 12px 16px;
  z-index: 1;
  gap: 1em;
}

.listbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: var(--clr-grey-background);
}

li {
  list-style: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
