.loginView {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.loginContainer {
  position: relative;
  height: 30vh;
  width: 60vw;
  top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputArea {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 25vh;
}

.loginButtons {
  width: 100%;
  display: flex;
  gap: 5%;
}

.btn{
  width: 45%;  
  height: auto;
  color: var(--clr-navy-blue);
  border: solid var(--clr-black) 2px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 2.5vw;
  background-color: var(--clr-grey-background);
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  box-shadow: 0 0 15px var(--clr-navy-blue);
}

.btn:hover {
  background-color: var(--clr-grey-hover);
}

.btn:active {
  transform: scale(0.9);
}

.inputArea input {
  height: auto;
  min-height: 3vh;
  width: 25vw;
  border-radius: 5px;
  font-size: 2.5vw;
}
