@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.recentActivity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28vw;
  height: 14vw;
  box-shadow: 0 0 15px var(--clr-navy-blue);
  background-color: #f05454;
  margin: 1vw auto;
  border-radius: 0.8em;
  font-family: "Varela Round", sans-serif;
  box-shadow: 0 0 15px var(--clr-navy-blue);
}

.recentActivityHide {
  display: none;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: auto;
  box-shadow: 0 0 15px var(--clr-navy-blue);
  background-color: #f05454;
  margin: 1vw auto;
  border-radius: 0.8em;
  font-family: "Varela Round", sans-serif;
  box-shadow: 0 0 15px var(--clr-navy-blue);
}

.info {
  width: 30vw;
  height: auto;
  font-size: 1vw;
  text-align: center;
}
