@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.weatherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  border: solid black 4px;
  background-color: #e8e8e8be;
  border-radius: 0.8em;
  font-size: 0.6em;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  box-shadow: 0 0 10px rgb(73, 73, 73);
}
