.tag {
    font-size: 1.5rem;
}

#btns {
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: center;
    margin: 1vw 0;
  }

.saveBtn, .cancelBtn {
  width: 8em;  
  height: 2em;
  color: var(--clr-navy-blue);
  border: solid var(--clr-black) 2px;
  border-radius: 0.4em;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: var(--clr-grey-background);
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  box-shadow: 0 0 15px var(--clr-navy-blue);
}

.formgroup-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em 0em;
}

.dietForm{
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
}

.addButton{
  width: 12vw;  
  height: auto;
  color: var(--clr-navy-blue);
  border: solid var(--clr-black) 2px;
  border-radius: 0.4em;
  cursor: pointer;
  font-size: 2vw;
  background-color: var(--clr-grey-background);
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  box-shadow: 0 0 15px var(--clr-navy-blue);
}