.searchView {
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 30vw;
}

.searchContainer {
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-btn {
  width: 20vw;
  height: auto;
  color: var(--clr-navy-blue);
  border: solid var(--clr-black) 2px;
  border-radius: 1em;
  margin: auto;
  cursor: pointer;
  font-size: 4vw;
  margin-bottom: 2vh;
  background-color: var(--clr-grey-background);
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  box-shadow: 0 0 15px var(--clr-navy-blue);
}
