.dietContainer {
    min-height: 23vw;
    text-align: center;
    font-family: "Varela Round", sans-serif;
}

.jumbotron {
    width: 50vw;
    height: auto;
    margin: 10vw auto;
    border: solid black 2px;
    border-radius: 0.4em;
    padding: 1em;
}
.claorieHeaderText {
    font-size: 2.5vw;
}