@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

.footer {
  width: 100%;
  height: auto;
  text-align: end;
  justify-content: end;
  align-items: center;
  position: static;
  bottom: 0;
}

.footer h3 {
  color: var(--clr-black);
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 2vw;
  margin-bottom: 0;
}
