#settingsForm {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1em;
  column-gap: 1em;
}

.label {
  font-size: 1.5vw;
  font-weight: 550;
  margin: 0;
}

.inputBox {
  height: 2vw;
  width: 12vw;
  font-size: 1.5rem;
}

.field {
  text-align: left;
  padding: 1vw 0.5vw;
  border: solid black 0.1vw;
  border-radius: 2em;
  box-shadow: 0 0 10px var(--clr-navy-blue);
}

.genderField {
  display: grid;
  border: solid black 0.1vw;
  border-radius: 2em;
  box-shadow: 0 0 10px var(--clr-navy-blue);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
  margin: 0;
}

.gender {
  padding: 0.5vw;
  font-size: 1.1vw;
}

#age,
#length,
#weight {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#submitBox {
  text-align: center;
}

.submitButton {
  position: relative;
  top: 2em;
  width: 10vw;
  height: auto;
  color: var(--clr-navy-blue);
  border: solid var(--clr-black) 2px;
  border-radius: 0.4em;
  margin: auto;
  cursor: pointer;
  font-size: 2vw;
  margin-bottom: 2vh;
  background-color: var(--clr-grey-background);
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  box-shadow: 0 0 10px var(--clr-navy-blue);
}

.submitButton:hover {
  background-color: var(--clr-grey-hover);
}

.submitButton:active {
  transform: scale(0.9);
}

p {
  display: inline;
  margin: 0;
  padding: 0 0.3vw;
  font-weight: bold;
}
